@font-face {
  font-family: 'Rubik';
  src: local('Rubik'), url('../Rubik.ttf') format('truetype');
}

:root {
  font-family: Rubik, sans-serif !important;

  --ifm-color-primary-darkest:  #0b290d;
  --ifm-color-primary-darker:   #16521a;
  --ifm-color-primary-dark:     #217b27;
  --ifm-color-primary:          #3aca44;
  --ifm-color-primary-light:    #61d569;
  --ifm-color-primary-lighter:  #89df8f;
  --ifm-color-primary-lightest: #b0eab4;
  --ifm-color-secondary:        #faad07;

  --ifm-navbar-background-color: #123c14;
  --ifm-navbar-height: 4rem;
  --ifm-navbar-link-color: white;
  --ifm-navbar-link-hover-color: var(--ifm-color-primary-light);
  --ifm-navbar-link-active-color: var(--ifm-color-primary-lightest);
  --ifm-navbar-shadow: rgba(0, 0, 0, 0.25) 0 0 10px 0;
  --ifm-navbar-search-input-background-color: white !important;
  --ifm-navbar-search-input-color: black;
  --ifm-navbar-search-input-placeholder-color: rgba(0, 0, 0, 0.2);
  
  --ifm-footer-background-color: #123c14;

  --ifm-background-color: #f7faf6;
  --ifm-background-alt:   #eaf4ec;
  --ifm-surface-color:    #ffffff;
}

:root,
[data-theme='dark'] {
  --ifm-navbar-search-input-background-color: white !important;
  --ifm-navbar-search-input-color: black !important;
  --ifm-navbar-search-input-placeholder-color: rgba(0,0,0,0.3) !important;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: Rubik, sans-serif !important;
}

.navbar {
  color: white;
}

.navbar a {
  color: white;
}

.navbar a,
.navbar__link {
  transition: transform 0.25s ease;
}

.navbar a:hover,
.navbar__link:hover {
  color: white;
  text-decoration: underline;
  transform: scale(1.05)
}












.footer {
  color: white;
}

.footer a {
  color: white;
}

.footer a:hover {
  color: white;
}

.footer .footer__copyright{
  color: var(--ifm-color-primary-lightest);
}

.DocItemTitle {
  color: var(--ifm-color-primary);
  font-size: 28px;
  font-weight: bold;
}

.DocItemParameter {
  color: var(--ifm-color-secondary);
  font-size: 18px;
  font-weight: bold;
}

.menu__link {
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  transition: border-left-width 0.5s ease, border-left-color 0.5s ease;
}

.menu__link--active {
  border-width: 1px;
  border-color: var(--ifm-color-primary);
  text-decoration: underline;
}

.menu.thin-scrollbar {
  padding: 8px;
}
