:root {
    --community-section-background: #eaeaea;
}

[data-theme='dark'] {
    --community-section-background: #222d1e;
}

.cta-button, .discord-button, .github-button {
    font-family: Rubik, sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 250px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.25);
}

.cta-button img, .discord-button img, .github-button img {
    margin-right: 8px;
}

.cta-button:hover, .discord-button:hover, .github-button:hover {
    color: white;
    transform: scale(1.05);
}

.text-glow {
    color: var(--ifm-color-primary);
    text-shadow: 0 0 25px rgba(159, 234, 55, 0.5);
}

/* HERO SECTION ----------------------------------------------------------------------------------------------------- */

.hero-section {
    background:
        url("../../src/pages/img/jungle-hero-background.png") no-repeat bottom center,
        linear-gradient(to right, var(--ifm-color-primary-darker) 0%, var(--ifm-color-primary-dark) 60%);
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.25);

    position: relative;
    overflow: hidden;
    height: auto;
    padding: 24px 24px;
    z-index: 1;
}

.hero-section h1 {
    color: white;
    font-size: 100px;
}

.hero-section p {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-section a {
    margin-top: 64px;
}

.cta-button {
    background-color: var(--ifm-color-primary-dark);
}

.cta-button:hover {
    background-color: var(--ifm-color-primary);
    box-shadow: 0 0 50px 5px rgba(120, 255, 34, 0.25);
}

/* HERO SECTION ----------------------------------------------------------------------------------------------------- */

/* FEATURES SECTION ------------------------------------------------------------------------------------------------- */

.features-section {
    background: var(--ifm-background-color);
}

.features-section-unity {
    position: relative;
    display: inline-flex;
    height: auto;
    width: 100%;
}

.features-section-unity div {
    margin-right: 24px;
}

.features-section-unity h2 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 0;
    width: 65%;
}

.features-section-unity p {
    font-size: 20px;
    margin-top: 0;
}

.features-section-unity img {
    position: absolute;
    right: 0;
    height: 11vw;
}

[data-theme='dark'] .features-section-unity img {
    filter: invert(1);
}

.features-section-cards {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-bottom: 100px;
}

.features-section-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.features-section-card .text, .features-section-card .image {
    flex: 1 1 50%;
    padding-right: 2vw;
    padding-left: 2vw;
}

.features-section-card .image img {
    width: 100%; /* Fill the container */
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35);
}

/* Reverse the order for alternate features */
.features-section-card.reverse {
    flex-direction: row-reverse;
}

/* FEATURES SECTION ------------------------------------------------------------------------------------------------- */

/* COMMUNITY SECTION ------------------------------------------------------------------------------------------------ */

.community-section {
    background: linear-gradient(to right, var(--ifm-color-primary-darker) 0%, var(--ifm-color-primary-dark) 60%);
    color: white;
}

[data-theme='dark'] .community-section {
    color: white;
}

.community-section h1 {
    font-size: 50px;
}

.discord-button {
    background-color: #5865F2;
}

.discord-button:hover {
    background-color: #7289DA;
    box-shadow: 0 0 50px 5px rgba(114, 137, 218, 0.5);
}

.github-button {
    background-color: #0f1113;
}

.github-button:hover {
    background-color: #292f36;
    box-shadow: 0 0 50px 5px rgba(15, 17, 19, 0.5);
}

/* COMMUNITY SECTION ------------------------------------------------------------------------------------------------ */

@media (max-width: 768px) {
    .hero-section {
        background:
                url("../../src/pages/img/jungle-hero-background.png") no-repeat bottom center,
                linear-gradient(to bottom, var(--ifm-color-primary-darker) 0%, var(--ifm-color-primary-dark) 60%);
        padding: 12px 0;
    }

    .hero-section h1 {
        color: white;

        font-size: 9vw;
        text-align: center;
    }

    .hero-section p {
        font-size: 16px;
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }

    .features-section-unity {
        display: inline-block;
        margin-bottom: 8vw;
    }

    .features-section-unity div {
        margin-right: 0;
    }

    .features-section-unity h2 {
        font-size: 10vw;
        font-weight: bold;
        text-align: center;

        width: 100%;
    }

    .features-section-unity p {
        font-size: 4vw;
        margin-top: 12px;
        text-align: center;

        width: 100%;
    }

    .features-section-unity img {
        width: 100%;
        height: auto;

        padding: 0 20vw;
    }

    .features-section-cards {
        margin-bottom: 50px;
    }

    .features-section-card {
        flex-direction: column;
    }

    .features-section-card .text, .features-section-card .image {
        flex: 1 1 100%;
    }

    .community-section {
        background: linear-gradient(to top, var(--ifm-color-primary-darker) 0%, var(--ifm-color-primary-dark) 60%);
        padding: 12px 0;
    }

    .community-section h1 {
        font-size: 10vw;
        text-align: center;
    }

    .community-section h2 {
        font-size: 8vw;
        text-align: center;
    }

    .community-section p {
        font-size: 3vw;
        text-align: center;
        max-width: 90%;
        margin: 12px auto;
    }

    .cta-button, .discord-button, .github-button {
        width: 90%;
        margin: 0 auto;
    }
}
