:root {
    --community-section-background: #eaeaea;
}

[data-theme='dark'] {
    --community-section-background: #222d1e;
}

.cta-button, .discord-button, .github-button {
    font-family: Rubik, sans-serif;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 250px;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.25);
}

.cta-button img, .discord-button img, .github-button img {
    margin-right: 8px;
}

.cta-button:hover, .discord-button:hover, .github-button:hover {
    color: white;
    transform: scale(1.05);
}

.text-glow {
    color: var(--ifm-color-primary);
    text-shadow: 0 0 25px rgba(159, 234, 55, 0.5);
}











/* HERO SECTION ----------------------------------------------------------------------------------------------------- */

.hero {
    /* Background + visual effects */
    background:
            url("https://cdn.junglesequencer.com/homepage/jungle-hero-background.png")
            no-repeat bottom center,
            linear-gradient(to right,
            var(--ifm-color-primary-darker) 0%,
            var(--ifm-color-primary-dark)   60%);
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.25);
    
    /* Layout */
    padding-block: 3rem;
    width: 100%;
}

.hero__content {
    /* Box */
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    
    /* Layout */
    width: clamp(0px, 90vw, 1800px);
    margin-inline: auto;
    padding-inline: 2rem;
}

.hero__text {
    flex: 1;
    color: #fff;
}

.hero__title {
    font-size: clamp(2rem, 8vw, 5rem);
    line-height: 1.1;
    margin-bottom: 1rem;
}

.hero__description {
    color: var(--ifm-color-primary-lightest);
    font-size: 1.2rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

.hero__button {
    /* Box */
    display: inline-block;
    width: 200px;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    text-align: center;

    /* Colors */
    color: #fff;
    background: var(--ifm-color-primary-dark);
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
    
    /* Text */
    font-weight: bold;
    
    /* Interaction */
    transition: background-color 0.25s ease, box-shadow 0.25s ease, transform 0.5s ease;
}

.hero__button:hover {
    color: #fff;
    background: var(--ifm-color-primary);
    box-shadow: 0 0 50px 5px rgba(120, 255, 34, 0.25);
    transform: scale(1.05);
}

.hero__video {
    flex: 1;
    max-width: 675px;
    aspect-ratio: 16 / 9;
}

.hero__video iframe {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    border: 0;
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 768px) {
    .hero__content {
        flex-direction: column;
        gap: 1.5rem;
        text-align: center;
    }
    
    .hero__text,
    .hero__title,
    .hero__description {
        width: 100%;
    }

    .hero__video {
        width: 100%;
        max-width: none;
    }
}

/* HERO SECTION ----------------------------------------------------------------------------------------------------- */






















/* FEATURES SECTION ------------------------------------------------------------------------------------------------- */

.features-section {
    background: var(--ifm-background-color);
}

.features-video {
    text-align: center;
    margin-bottom: 40px;
}

.features-video h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.features-video p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 39.375%;
    height: 0;
    overflow: hidden;
    max-width: 70%;
    margin: 0 auto;
    background: #000;
    border-radius: 8px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.features-section-unity {
    position: relative;
    display: inline-flex;
    height: auto;
    width: 100%;
}

.features-section-unity div {
    margin-right: 24px;
}

.features-section-unity h2 {
    font-size: 55px;
    font-weight: bold;
    margin-bottom: 0;
    width: 65%;
}

.features-section-unity p {
    font-size: 20px;
    margin-top: 0;
}

.features-section-unity img {
    position: absolute;
    right: 0;
    height: 11vw;
}

[data-theme='dark'] .features-section-unity img {
    filter: invert(1);
}

.features-section-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 100px;
}

.features-section-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.features-section-card .text, .features-section-card .image {
    flex: 1 1 50%;
    padding-right: 2vw;
    padding-left: 2vw;
}

.features-section-card .image img {
    width: 100%; /* Fill the container */
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35);
}

/* Reverse the order for alternate features */
.features-section-card.reverse {
    flex-direction: row-reverse;
}

/* FEATURES SECTION ------------------------------------------------------------------------------------------------- */

/* COMMUNITY SECTION ------------------------------------------------------------------------------------------------ */

.community-section {
    background: linear-gradient(to right, var(--ifm-color-primary-darker) 0%, var(--ifm-color-primary-dark) 60%);
    color: white;
}

[data-theme='dark'] .community-section {
    color: white;
}

.community-section h1 {
    font-size: 50px;
}

.discord-button {
    background-color: #5865F2;
}

.discord-button:hover {
    background-color: #7289DA;
    box-shadow: 0 0 50px 5px rgba(114, 137, 218, 0.5);
}

.github-button {
    background-color: #0f1113;
}

.github-button:hover {
    background-color: #292f36;
    box-shadow: 0 0 50px 5px rgba(15, 17, 19, 0.5);
}

/* COMMUNITY SECTION ------------------------------------------------------------------------------------------------ */

@media (max-width: 768px) {
    .hero-section {
        background:
                url("https://cdn.junglesequencer.com/homepage/jungle-hero-background.png") no-repeat bottom center,
                linear-gradient(to bottom, var(--ifm-color-primary-darker) 0%, var(--ifm-color-primary-dark) 60%);
        padding: 12px 0;
    }

    .hero-section h1 {
        color: white;
        font-size: 9vw;
        text-align: center;
    }

    .hero-section p {
        font-size: 16px;
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
    }

    .video-wrapper {
        padding-bottom: 56.25%;
        max-width: 100%;
    }

    .features-section-unity {
        display: inline-block;
        margin-bottom: 8vw;
    }

    .features-section-unity div {
        margin-right: 0;
    }

    .features-section-unity h2 {
        font-size: 10vw;
        font-weight: bold;
        text-align: center;
        width: 100%;
    }

    .features-section-unity p {
        font-size: 4vw;
        margin-top: 12px;
        text-align: center;
        width: 100%;
    }

    .features-section-unity img {
        width: 100%;
        height: auto;
        padding: 0 20vw;
    }

    .features-section-cards {
        margin-bottom: 50px;
    }

    .features-section-card {
        flex-direction: column;
    }

    .features-section-card .text, .features-section-card .image {
        flex: 1 1 100%;
    }


    .community-section {
        background: linear-gradient(to top, var(--ifm-color-primary-darker) 0%, var(--ifm-color-primary-dark) 60%);
        padding: 12px 0;
    }

    .community-section h1 {
        font-size: 10vw;
        text-align: center;
    }

    .community-section h2 {
        font-size: 8vw;
        text-align: center;
    }

    .community-section p {
        font-size: 3vw;
        text-align: center;
        max-width: 90%;
        margin: 12px auto;
    }

    .cta-button, .discord-button, .github-button {
        width: 90%;
        margin: 0 auto;
    }
}
